<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head">
</head>
<body>
<header id="header2" th:replace="fragments/fragment2 :: header2">
</header>
	<section id="heroV2">
		<div class="hero-container">
			<div class="row justify-content-md-center">
				<div th:replace="fragments/fragment2 :: left-info"></div>
				<div class="col-md-8">
					<h4>Mengajukan Permohonan Surat Baru</h4>
					
					<form action="/pengajuan/tambah" method="post" style="width:800px">
					
						<div class="form-group row">
						    <label for="jenis_surat" class="col-sm-2 col-form-label">Jenis Surat</label>
						    <div class="col-sm-7">
					  		  	<select class="form-control" id="jenis_surat" name="jenis_surat">
						   		 	<option value="0">Pilih Jenis Surat</option>
				 						<option th:each="jenis_surat : ${jenis_surats}" th:value="${jenis_surat.id}" th:text="${jenis_surat.nama}"></option>
						  		</select>
							</div>
						</div>

						<div class="form-group row">
						    <label for="keterangan" class="col-sm-2 col-form-label">Keterangan</label>
						    <div class="col-sm-7">
						   		 	<input type="text" class="form-control input-sm" name="keterangan" placeholder="e.g Melamar pekerjaan, pengajuan beasiswa X" th:field="*{pengajuanSurat.keterangan}" required = "true" />
							</div>
						</div>	
						
						<div class="form-group row">
						    <label for="alasanIzin" class="col-sm-2 col-form-label">Alasan Izin</label>
						    <div class="col-sm-7">
						   		 	<input type="text" class="form-control input-sm" name="alasanIzin" placeholder="" th:field="*{pengajuanSurat.alasan_izin}" required = "true" />
							</div>
						</div>	
						
						<div class="form-group row">
						    <label for="tanggalIzin" class="col-sm-2 col-form-label">Tanggal Izin</label>
						    <div class="col-sm-3">
						   		 	<input type="date" class="form-control input-sm" name="tgl_mulai_izin" placeholder="" th:field="*{pengajuanSurat.tgl_mulai_izin}" required = "true" />
						   	</div>
						   	<p>s/d</p>
						   	<div class="col-sm-3">
						   		 	<input type="date" class="form-control input-sm" name="tgl_sls_izin" placeholder="" th:field="*{pengajuanSurat.tgl_sls_izin}" required = "true" />
							</div>
						</div>						
						
					</form>
				</div>
			</div>
		</div>
	</section>
	<footer id="footer" th:replace="fragments/fragment :: footer">
	</footer>
</body>
</html>