<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head">
</head>

<body>

	<header id="header2" th:replace="fragments/fragment2 :: header2">
	</header>

	<section id="heroV2">

		<div class="hero-container">
			<div class="row justify-content-md-center">

				<div th:replace="fragments/fragment2 :: left-info"></div>


				<div class="col-md-8">

					<h4>Detail Surat</h4>

					<!--       		<table class="table table-bordered"> -->
					<!--                   <tbody class="text-left"> -->
					<!-- 						<tr> -->
					<!-- 							<td><b>Nama Mahasiswa</b></td> -->
					<!-- 							<td th:text="Ayu"></td> -->
					<!-- 						</tr> -->
					<!-- 						<tr> -->
					<!-- 							<td><b>NPM Mahasiswa</b></td> -->
					<!-- 							<td th:text="1606954741"></td> -->
					<!-- 						</tr> -->
					<!-- 						<tr> -->
					<!-- 							<td><b>No Surat</b></td> -->
					<!-- 							<td th:text="${surat.no_surat}"></td> -->
					<!-- 						</tr> -->
					<!-- 						<tr> -->
					<!-- 							<td><b>Jenis Surat</b></td> -->
					<!-- 							<td th:text="${jenis_surat}"></td> -->
					<!-- 						</tr> -->
					<!-- 						<tr> -->
					<!-- 							<td><b>Tanggal Permohonan Surat</b></td> -->
					<!-- 							<td th:text="${surat.tgl_mohon}"></td> -->
					<!-- 						</tr> -->
					<!-- 						<tr> -->
					<!-- 							<td><b>Nama Admin</b></td> -->
					<!-- 							<td th:text="Puspa"></td> -->
					<!-- 						</tr> -->
					<!-- 						<tr> -->
					<!-- 							<td><b>Status Pengajuan Surat</b></td> -->
					<!-- 							<td th:text="${status_surat}"></td> -->
					<!-- 						</tr> -->
					<!-- 						<tr> -->
					<!-- 							<td><b>Keterangan</b></td> -->
					<!-- 							<td th:text="${surat.keterangan}"></td> -->
					<!-- 						</tr> -->
					<!-- 						<tr> -->
					<!-- 							<td><b>Alasan Izin</b></td> -->
					<!-- 							<td th:text="${surat.alasan_izin}"></td> -->
					<!-- 						</tr> -->
					<!-- 						<tr> -->
					<!-- 							<td><b>Tanggal Mulai Izin</b></td> -->
					<!-- 							<td th:text="${surat.tgl_mulai_izin}"></td> -->
					<!-- 						</tr> -->
					<!-- 						<tr> -->
					<!-- 							<td><b>Tanggal Selesai Izin</b></td> -->
					<!-- 							<td th:text="${surat.tgl_sls_izin}"></td> -->
					<!-- 						</tr> -->
					<!-- 						<tr> -->
					<!-- 							<td><b>Matakuliah terkait</b></td> -->
					<!-- 							<td th:text="APAP"></td> -->
					<!-- 						</tr> -->

					<!--                   </tbody> -->
					<!--             </table> -->


					<table class="table" id="table_custom">
						<tbody>
							<tr>
								<th>Nama Mahasiswa</th>
								<td>Ayu</td>
								<th width="15%">NPM Mahasiswa</th>
								<td>1606954741</td>
							</tr>
							<tr>
								<th>No Surat</th>
								<td th:text="${surat.no_surat}"></td>
								<th>Jenis Surat</th>
								<td th:text="${jenis_surat}"></td>
							</tr>
							<tr>
								<th>Tanggal Permohonan</th>
								<td th:text="${surat.tgl_mohon}"></td>
								<th>Nama Admin</th>
								<td>Puspa</td>
							</tr>
							<tr>
								<th>Status Pengajuan Surat</th>
								<td th:text="${status_surat}"></td>
								<th>Keterangan</th>
								<td th:text="${surat.keterangan}"></td>
							</tr>
							<tr>
								<th>Alasan Izin</th>
								<td th:text="${surat.alasan_izin}"></td>
								<th>Tanggal Izin</th>
								<td th:text="${surat.tgl_mulai_izin}"></td>
							</tr>
							<tr>
								<th>Matakuliah terkait</th>
								<td colspan="3">APAP</td>
								
							</tr>

						</tbody>
					</table>

				</div>
			</div>
		</div>


	</section>

	<footer id="footer" th:replace="fragments/fragment :: footer">
	</footer>
</body>
</html>
