<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head">
</head>

<body>

	<header id="header2" th:replace="fragments/fragment2 :: header2">
	</header>

	<section id="heroV2">

		<div class="hero-container">
			<div class="row justify-content-md-center">

				<div th:replace="fragments/fragment2 :: left-info"></div>


				<div class="col-md-8">

					<h4>Detail Surat</h4>
					<input type="hidden" th:value="${surat.id}" id="pengajuan_surat_id" />
					<table class="table" id="table_custom">
						<tbody>
							<tr>
								<th>Nama Mahasiswa</th>
								<td th:text="${nama}"></td>
								<th width="15%">NPM Mahasiswa</th>
								<td th:text="${surat.username_pengaju}"></td>
							</tr>
							<tr>
								<th>No Surat</th>
								<td th:text="${surat.no_surat}"></td>
								<th>Jenis Surat</th>
								<td th:text="${jenis_surat}"></td>
							</tr>
							<tr>
								<th>Tanggal Permohonan</th>
								<td th:text="${surat.tgl_mohon}"></td>
								<th>Nama Admin</th>
								<td th:text="${nama_admin}"></td>
							</tr>
							<tr>
								<th>Status Pengajuan Surat</th>
								<td id="status"><label th:text="${status_surat}"></label> <i
									class="fa fa-edit" id="btn-edit"></i></td>
								<th>Keterangan</th>
								<td th:text="${surat.keterangan}"></td>
							</tr>
							<tr>
								<th>Alasan Izin</th>
								<td th:text="${surat.alasan_izin}"></td>
								<th>Tanggal Izin</th>
								<td th:text="${surat.tgl_mulai_izin}"></td>
							</tr>
							<tr>
								<th>Matakuliah terkait</th>
								<td colspan="3" th:text="${nama_matkul}"></td>

							</tr>

						</tbody>
					</table>

					<div>
						<form method="POST" enctype="multipart/form-data" action="/pengajuan/upload">
							<table>
								<tr>
									<td>File to upload:</td>
									<td><input type="file" name="file" /></td>
								</tr>
								<tr>
									<td></td>
									<td><input type="submit" value="Upload" /></td>
								</tr>
							</table>
						</form>
					</div>

				</div>
			</div>
		</div>



		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">...</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save
							changes</button>
					</div>
				</div>
			</div>
		</div>

	</section>

	<footer id="footer" th:replace="fragments/fragment :: footer">
	</footer>
</body>
<script th:inline="javascript">
	$(document)
			.ready(
					function() {
						$(".fa-edit")
								.click(
										function() {
											$(".fa-edit").remove();
											var html = '<select class="form-control" id="status_surat">'
													+ '<option value="">--Pilih Status--</option>'
													+ ' <option value="1">Baru Diajukan</option>'
													+ ' <option value="2">Ditolak</option>'
													+ ' <option value="3">Diproses</option>'
													+ ' <option value="4">Selesai</option>'
													+ ' </select>';
											$("#status").append(html);
											$("#status_surat").css("font-size",
													"13px");
										});

						$(document)
								.on(
										"change",
										"#status_surat",
										function(val) {
											console.log(this.value);
											if (confirm("Apakah Anda yakin ingin mengubah status surat?")) {
												var id_pengajuan_surat = $(
														"#pengajuan_surat_id")
														.val();
												console
														.log("ini id pengajuan surat"
																+ id_pengajuan_surat);
												window.location
														.replace("http://localhost:8080/pengajuan/ubah/"
																+ id_pengajuan_surat
																+ "/"
																+ this.value);
											}

										})
					});
</script>
</html>
