<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head">
</head>

<body>

 <header id="header" th:replace="fragments/fragment :: header">
 </header>
 	 <form style="width:300px">
	
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" class="form-control input-sm" name="username" placeholder="Username" />
		</div>
		<div class="form-group">
			<label for="password">Password</label> 
			<input type="text" class="form-control input-sm" name="password" placeholder="Password" />
		</div>
		
		<div>
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
	</form> 

</body>
</html>
